
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ coffee.imageURL }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ coffee.name }}</h5>
        <a href="{{ coffee.roaster.websiteURL }}">
            <h6 class="card-title">{{ coffee.roaster.name }}</h6>
        </a>
        
        
        <p class="card-text">Rating:</p>
      </div>
      <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
  </div>
